<h1 class="font-semibold text-2xl">Change Password</h1>
<section class="bg-white rounded-lg p-3">
  <div class="w-full">
    <form action="" [formGroup]="changePassword" (ngSubmit)="onSubmit()">
      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >Old Password</label
        >
        <p-password
          formControlName="password"
          class="w-full border border-gray-300 p-3 rounded-lg relative"
          placeholder="*****"
          [feedback]="true"
          autocomplete="off"
          [toggleMask]="true"
        />
        <app-error-msg
          [control]="changePassword.get('password')"
          label="Old Password"
          type="password"
        ></app-error-msg>
      </div>

      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >New Password</label
        >
        <p-password
          formControlName="newPassword"
          class="w-full border border-gray-300 p-3 rounded-lg"
          placeholder="*****"
          [feedback]="true"
          autocomplete="off"
          [toggleMask]="true"
        />
        <app-error-msg
          [control]="changePassword.get('newPassword')"
          label="New Password"
          type="password"
        ></app-error-msg>
      </div>
      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >Confirm Password</label
        >
        <p-password
          formControlName="confirmPassword"
          class="w-full border border-gray-300 p-3 rounded-lg"
          placeholder="*****"
          [feedback]="true"
          autocomplete="off"
          [toggleMask]="true"
        />
        <app-error-msg
          [control]="changePassword.get('confirmPassword')"
          label="Confirm Password"
          type="Password"
        ></app-error-msg>
      </div>
      <div class="flex justify-end gap-3">
        <button
          class="bg-[#A6252A] flex-end text-white p-3 rounded-lg"
          type="submit"
        >
          Change Password
        </button>
      </div>
    </form>
  </div>
</section>
