<h1 class="font-semibold text-2xl">Change Password</h1>
<section class="bg-white rounded-lg p-3">
  <div class="w-full">
    <form action="" [formGroup]="changePassword" (ngSubmit)="onSubmit()">
      <div class="card flex flex-col p-2 mb-10">
        <label class="font-medium text-sm" for="oldPaasword"
          >Old Password</label
        >
        <p-password
          class="w-full border border-gray-300 p-3 rounded-lg"
          placeholder="*****"
          [feedback]="false"
          autocomplete="off"
          formControlName="oldPassword"
          [toggleMask]="true"
        />
      </div>
      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >New Password</label
        >
        <p-password
          formControlName="newPassword"
          class="w-full border border-gray-300 p-3 rounded-lg relative"
          placeholder="*****"
          [feedback]="false"
          autocomplete="off"
          [toggleMask]="true"
        />
      </div>
      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >Confirm Password</label
        >
        <p-password
          formControlName="confirmPassword"
          class="w-full border border-gray-300 p-3 rounded-lg"
          placeholder="*****"
          [feedback]="false"
          autocomplete="off"
          [toggleMask]="true"
        />
      </div>
      <div class="flex justify-end gap-3">
        <button class="bg-[#A6252A] flex-end text-white p-3 rounded-lg">
          Change Password
        </button>
      </div>
    </form>
  </div>
</section>
