<h1 class="font-semibold text-2xl">Change Password</h1>
<section class="bg-white rounded-lg p-3">
  <div class="w-full">
    <form action="" [formGroup]="changePassword" (ngSubmit)="onSubmit()">
      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >Old Password</label
        >
        <p-password
          formControlName="password"
          class="w-full border border-gray-300 p-3 rounded-lg relative"
          placeholder="*****"
          [feedback]="true"
          autocomplete="off"
          [toggleMask]="true"
        />
        @if (changePassword.controls['password'].invalid &&
        changePassword.controls['password'].touched) {
        <div class="card flex flex-wrap gap-4 justify-center text-red-500 mt-5">
          <p-message severity="error">Old Password Is required</p-message>
        </div>
        }
      </div>

      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >New Password</label
        >
        <p-password
          formControlName="newPassword"
          class="w-full border border-gray-300 p-3 rounded-lg"
          placeholder="*****"
          [feedback]="true"
          autocomplete="off"
          [toggleMask]="true"
        />
        @if (changePassword.controls['newPassword'].invalid &&
        changePassword.controls['newPassword'].touched) {
        <div class="card flex flex-wrap gap-4 justify-center text-red-500 mt-5">
          <p-message severity="error">New Password id required</p-message>
        </div>
        }
      </div>
      <div class="card flex flex-col p-2">
        <label class="font-medium text-sm" for="oldPaasword"
          >Confirm Password</label
        >
        <p-password
          formControlName="confirmPassword"
          class="w-full border border-gray-300 p-3 rounded-lg"
          placeholder="*****"
          [feedback]="true"
          autocomplete="off"
          [toggleMask]="true"
        />
        @if (changePassword.hasError('mismatch') &&
        changePassword.controls['confirmPassword'].touched) {
        <div class="card flex flex-wrap gap-4 justify-center text-red-500 mt-5">
          <p-message severity="error">Passwords do not match!</p-message>
        </div>
        }
      </div>
      <div class="flex justify-end gap-3">
        <button
          class="bg-[#A6252A] flex-end text-white p-3 rounded-lg"
          type="submit"
        >
          Change Password
        </button>
      </div>
    </form>
  </div>
</section>
