<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4"
>
  @for(product of products; track product._id) {
  <p-card class="relative rounded-2xl overflow-hidden">
    <div class="relative group overflow-hidden rounded-2xl">
      <img
        [src]="product.imgCover"
        [alt]="product.title"
        class="w-full h-64 object-cover transition-transform duration-500 group-hover:scale-105"
      />

      <div
        class="absolute inset-0 bg-[#E6507380] flex items-center justify-center gap-3 opacity-0 group-hover:opacity-100 transition-all duration-300"
      >
        <button
          class="bg-white flex justify-center items-center p-2 w-10 h-10 rounded-full hover:bg-gray-100 transition-all transform hover:scale-110 shadow-lg"
        >
          <i class="pi pi-heart text-[#DC2626] text-sm"></i>
        </button>
        <button
          class="bg-white flex justify-center items-center p-2 w-10 h-10 rounded-full hover:bg-gray-100 transition-all transform hover:scale-110 shadow-lg"
        >
          <i class="pi pi-eye text-[#DC2626] text-sm"></i>
        </button>
      </div>
      <div class="absolute top-3 right-3 flex flex-col gap-2">
        @if(product.quantity <= 0) {
        <span
          class="bg-[#DC2626]  text-white px-3 py-1 rounded-full text-xs font-medium shadow-lg"
        >
          OUT OF STOCK
        </span>
        } @if((product.sold ?? 0) >= 300) {
        <span
          class="bg-[#FBEAEA] text-[#A6252A] px-3 py-1 rounded-full text-xs font-medium shadow-lg border border-[#A6252A] border-opacity-20"
        >
          HOT
        </span>
        } @if(isNew(product.createdAt)) {
        <span
          class="bg-white text-gray-800 px-3 py-1 rounded-full text-xs font-medium shadow-lg border border-gray-200"
        >
          NEW
        </span>
        }
      </div>
    </div>

    <div class="p-4 bg-white">
      <h3
        class="text-[#741C21] font-semibold text-lg hover:text-[#A6252A] transition-colors"
      >
        {{ product.title.slice(0, 18) }}
      </h3>

      <div class="flex items-center justify-between gap-2 mb-4">
        <div class="flex items-center gap-2">
          <p-rating
            [(ngModel)]="product.rateAvg"
            [readonly]="true"
            stars="4"
            iconOnClass="pi pi-star-fill text-yellow-400"
            iconOffClass="pi pi-star text-gray-300"
            styleClass="text-sm"
          ></p-rating>
        </div>

        <button
          class="bg-[#A6252A] w-10 h-10 rounded-full flex items-center justify-center hover:bg-[#8c1f24] transition-all duration-200 transform hover:scale-105 shadow-md"
          [disabled]="product.quantity <= 0"
          [class.opacity-50]="product.quantity <= 0"
          [class.cursor-not-allowed]="product.quantity <= 0"
        >
          <i class="pi pi-shopping-cart text-white text-lg"></i>
        </button>
      </div>

      <div class="flex items-center gap-2">
        <ng-container
          *ngIf="
            product.priceAfterDiscount &&
              product.priceAfterDiscount < product.price;
            else noDiscount
          "
        >
          <span class="text-[#A6252A] font-bold text-xl">
            {{
              product.priceAfterDiscount | currency : 'EGP' : 'symbol' : '1.2-2'
            }}
          </span>
          <span class="text-gray-400 text-sm line-through opacity-70">
            {{ product.price | currency : 'EGP' : 'symbol' :'1.2-2' }} 
          </span>
          <span
            class="bg-green-100 text-green-800 text-xs font-medium px-2 py-1 rounded-full"
          >
            {{
              calculateDiscountPercentage(
                product.price,
                product.priceAfterDiscount
              )
            }}%
          </span>
        </ng-container>

        <ng-template #noDiscount>
          <span class="text-[#A6252A] font-bold text-sm">
            {{ product.price | number : '1.2-2' }}
            <span class="text-base font-semibold">EGP</span>
          </span>
        </ng-template>
      </div>
    </div>
  </p-card>
  }
</div>
