:host ::ng-deep .custom-rating .p-rating-icon {
  width: 2.1rem;
  height: 2.1rem;
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

:host ::ng-deep .custom-rating .p-rating-icon:hover {
  transform: scale(1.2);
  color:#FBA707 !important; 
}

:host ::ng-deep .custom-rating .p-rating-icon.p-rating-icon-active {
  color: #FBA707 !important; 
}

