/* You can add global styles to this file, and also import other style files */
@use 'styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

.valid-input {
  @apply border-[#A1A1AA] focus:border-[#f33037] focus:ring-[#A6252A] dark:border-[#FF85A2] dark:focus:border-[#FF85A2];
}

.in-valid-input {
  @apply border-[#A1A1AA] focus:border-[#DC2626] focus:ring-[#DC2626] dark:border-[#EF4444] dark:focus:border-[#EF4444];
}

.form-input {
  @apply border-2 border-[#A1A1AA] text-lg hover:border-[#A6252A] rounded-xl px-3 py-2 focus:border-[#A6252A]
     w-full;
}

@theme {
  --color-primary: #741c21;
  --color-secondary: #fbeaea;
  --color-background-button: #dc2626;
  --color-hover-card: #e6507380;
  --color-text: #ff668b;

  /* ===============================
     Typography System
    =============================== */
  --font-primary: 'Sarabun', sans-serif;
  --font-Secondary: 'Great Vibes', cursive;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
}
/*  Dark Mode */
[data-theme='dark'] {
  --color-primary: #ffc2d0;
  --color-secondary: #2a2a2a;
  --color-background-button: #ffa3b9;
  --color-hover-card: #e6507380;
  --color-text: #d75458;
}
