/* You can add global styles to this file, and also import other style files */
@import 'styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";
@import 'primeicons/primeicons.css';

.valid-input {
  @apply border-[#A1A1AA] focus:border-[#f33037] focus:ring-[#A6252A] dark:border-[#FF85A2] dark:focus:border-[#FF85A2];
}

.in-valid-input {
  @apply border-[#A1A1AA] focus:border-[#DC2626] focus:ring-[#DC2626] dark:border-[#EF4444] dark:focus:border-[#EF4444];
}

.form-input {
  @apply border-2 border-[#A1A1AA] text-lg hover:border-[#A6252A] rounded-xl px-3 py-2 focus:border-[#A6252A] dark:!text-red-400
     w-full;
} 

@layer utilities {
  .containers{
    @apply  w-[90%] mx-auto
  }
}

//this class is for the Phone input fixing input border design <Mostafa Allam>
.iti--allow-dropdown input.iti__tel-input {
  padding-right: 150px !important;
} 

::ng-deep p-rating .pi-star,
::ng-deep p-rating .pi-star-fill,
::ng-deep p-rating .pi-star-half, 
::ng-deep p-rating .p-menu-submenu-label{
  color: #fbbf24 !important; // Amber-400
}

p-rating {
  --p-rating-icon-active-color: #facc15;

} 


// (,'') ==> for styling drop menu 
:root{
  --p-menu-submenu-label-color:#741C21 !important;
  --p-menu-submenu-label-font-weight: 700 !important;
  --p-menu-item-icon-color:#A6252A !important ;
  --p-menu-item-icon-focus-color:#A6252A!important ;
  --p-menu-item-focus-background:#fbeaea !important ;
  --p-menu-item-color:#741C21 !important;
  --p-menu-item-focus-color:#A6252A !important;
}
.dark {
  --p-menu-background:#3F3F46 !important;
  --p-menu-submenu-label-color: #F4C2C2 !important;
  --p-menu-submenu-label-font-weight: 700 !important;
  --p-menu-item-icon-color: #FFC2D0 !important;
  --p-menu-item-icon-focus-color: #FFC2D0 !important;
  --p-menu-item-focus-background: #18181B !important;
  --p-menu-item-color: #F4C2C2 !important;
  --p-menu-item-focus-color: #FFC2D0 !important;
}

@theme {
  --color-primary: #A6252A;
  --color-secondary: #fbeaea;
  --color-background-button: #dc2626;
  --color-hover-card: #e6507380;
  --color-text-pink: #ff668b;
  --color-text-maroon: #741C21;
  --color-text-gray:#71717A;
  
  --dark-primary:#18181B;
  --dark-secondary: #27272A;
  --dark-third:#3F3F46;
  --dark-text-primary: #71717A; 
  --dark-text-main: #D75458;
  --dark-text-secondary: #FFC2D0;
  --dark-text-gray: #D4D4D8;
  --dark-background-button: #ffa3b9;
  --dark-hover-card: #e6507380;
  --dark-text: #d75458;

  /* ===============================
     Typography System
    =============================== */
  --font-primary: 'Sarabun', sans-serif;
  --font-Secondary: 'Great Vibes', cursive;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
}
