<section class="container mx-auto py-20 lg:px-20">
    <div class="flex justify-center items-center flex-col">
        <app-main-title subtitle="GALLERY"> </app-main-title>
        <app-section-title title="Check Out our Wonderful Gallery" ></app-section-title>
    </div>
    <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 my-10">
        <!--! col one -->
        <div class="col-span-1 gap-3 flex flex-col">
            <div class="">
                <img src="/images/gallery-sec/one.png" class="w-full h-[70vh] object-cover md:rounded-tl-2xl" alt="gallery" />
            </div>
            <div>
                <img src="/images/gallery-sec/two.png" class="w-full h-[40vh] object-cover lg:rounded-bl-2xl" alt="gallery" />
            </div>
        </div>
        <!--! col two -->
        <div class="col-span-1 gap-3 flex flex-col">
            <div>
                <img src="/images/gallery-sec/three.png" class="w-full h-[60vh] object-cover md:rounded-tr-2xl lg:rounded-tr-none" alt="gallery" />
            </div>
            <div class="">
                <img src="/images/gallery-sec/four.png" class="w-full h-[50vh] object-cover " alt="gallery" />
            </div>
        </div>
        <!--! col three -->
        <div class="col-span-1 md:col-span-2 lg:col-span-1 gap-3 flex flex-col">
            <div>
                <img src="/images/gallery-sec/five.png" class="w-full h-[60vh] object-cover lg:rounded-tr-2xl " alt="gallery" />
            </div>
            <div>
                <img src="/images/gallery-sec/six.png" class="w-full h-[50vh] object-cover md:rounded-b-2xl lg:rounded-br-2xl" alt="gallery" />
            </div>
        </div>
    </div>
</section>