<p-table
  #dt
  [value]="value() ?? []"
  [globalFilterFields]="globalFilterFields()"
  dataKey="id"
  selectionMode="single"
  [rows]="rows()"
  [paginator]="true"
  stateStorage="session"
  stateKey="reusable-table"
  [tableStyle]="{ 'min-width': '180px' }"
  (selectionChange)="selection.emit($event)" 
>
  <!-- Caption (Search) -->
  <ng-template #caption>
    <p-iconfield iconPosition="left">
      <input
         #searchInput
         pInputText
         class="!w-full !p-3 !border-[2px] !border-gray-400 !rounded-2xl  !px-6 !mb-6
            !text-lg !lg:text-xl !text-gray-500 focus:!ring-[var(--color-primary)] focus:!ring-3
            !focus:outline-0 !focus:border-1"
         type="text"
         [placeholder]="placeholder()"
        (input)="onGlobalSearch(searchInput.value)"
      />
    </p-iconfield>
  </ng-template>

  <!-- Header -->
  <ng-template #header>
    <tr class=" !text-lg lg:!text-2xl !font-[600] !bg-[#eeeded]   ">
      @for (col of columns(); track $index) {
        <th   class="!max-w-[180px] !text-center" [pSortableColumn]="col.field"
        [class.hidden]="col.field === 'sold' || col.field === 'rateCount'"
        [class.md:table-cell]="col.field === 'sold' || col.field === 'rateCount'"
        [class.!text-start]="col.field === 'title'"
        >
          {{ col.header }}
          <p-sortIcon [field]="col.field" class="" />
        </th>
      }
      

      <!-- the buttons column -->
       <th class="hidden md:block !text-center !text-lg lg:!text-2xl !font-[600] !bg-[#eeeded]">
        Actions
      </th>
    
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template #body let-row>
    <tr class="hover:!bg-[#FBEAEA]  !text-[#27272A] !text-lg lg:!text-xl  " (click)="showDialog()">
      @for (col of columns(); track $index) {
              <td  class="!max-w-[180px] "
        [class.hidden]="col.field === 'sold' || col.field === 'rateCount'"
        [class.md:table-cell]="col.field === 'sold' || col.field === 'rateCount'"
        [class.!font-[600]]="col.field === 'name'"
      
        
        
      >
       <span  class="!flex !justify-center !items-center" [class.!justify-start]="col.field === 'title'" [class.font-bold]="col.field === 'title'" >
         {{ col.field === 'title' ? (row[col.field] | slice:0:30) + '...' : row[col.field] }}
       </span>
      </td>
    
      <!-- buttons -->
    
      }
        <td>
      <div class="hidden md:flex justify-around items-center gap-3">

        <button [routerLink]="addRoute()"
          class="bg-[#0063D01A] hover:bg-[#0063D01A] text-[#155DFC] px-4 py-2 rounded-lg cursor-pointer flex justify-center items-center gap-x-2"
         
        >
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.75004 2.91671L11.0834 5.25004M12.3515 3.97371C12.66 3.66537 12.8333 3.24715 12.8333 2.81104C12.8334 2.37493 12.6602 1.95667 12.3518 1.64825C12.0435 1.33984 11.6253 1.16654 11.1892 1.16649C10.7531 1.16643 10.3348 1.33962 10.0264 1.64796L2.24121 9.43488C2.10577 9.56992 2.00561 9.73619 1.94954 9.91904L1.17896 12.4577C1.16388 12.5082 1.16275 12.5617 1.17566 12.6128C1.18858 12.6638 1.21508 12.7104 1.25234 12.7476C1.2896 12.7848 1.33624 12.8113 1.3873 12.8241C1.43837 12.8369 1.49195 12.8357 1.54238 12.8205L4.08163 12.0505C4.26431 11.995 4.43056 11.8954 4.56579 11.7606L12.3515 3.97371Z" stroke="#155DFC" stroke-width="1.252" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          Edit
        </button>

        <button
          class="bg-[#FF00001A] hover:bg-[#FF00001A] text-[#DC2626] px-4 py-2 rounded-lg cursor-pointer flex justify-center items-center gap-x-2"
          
        >
         <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 3.99999H14M12.6667 3.99999V13.3333C12.6667 14 12 14.6667 11.3333 14.6667H4.66667C4 14.6667 3.33333 14 3.33333 13.3333V3.99999M5.33333 3.99999V2.66666C5.33333 1.99999 6 1.33333 6.66667 1.33333H9.33333C10 1.33333 10.6667 1.99999 10.6667 2.66666V3.99999M6.66667 7.33333V11.3333M9.33333 7.33333V11.3333" stroke="#DC2626" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          Delete
        </button>

      </div>
    </td>

    </tr>
  </ng-template>

  <!-- Empty -->
  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="columns().length">
        No data found
      </td>
    </tr>
  </ng-template> 


</p-table> 

<!-- pop-up in mobileView -->
  <div class="card flex justify-center md:hidden ">
    
    <p-dialog header="Product Settings" [(visible)]="visible" [modal]="true"
     [breakpoints]="{ '999px': '75vw', '475px': '90vw' }" [style]="{ width: '430px' , backgroumd:'white' , height:'146px' }" 
     [draggable]="false" [resizable]="false">
            <div class="flex justify-around items-center gap-3 mt-6">

              <button [routerLink]="addRoute()"
                class="bg-[#0063D01A] hover:bg-[#0063D01A] text-[#155DFC] px-4 py-2 rounded-lg cursor-pointer flex justify-center items-center gap-x-2"
              >
                 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.75004 2.91671L11.0834 5.25004M12.3515 3.97371C12.66 3.66537 12.8333 3.24715 12.8333 2.81104C12.8334 2.37493 12.6602 1.95667 12.3518 1.64825C12.0435 1.33984 11.6253 1.16654 11.1892 1.16649C10.7531 1.16643 10.3348 1.33962 10.0264 1.64796L2.24121 9.43488C2.10577 9.56992 2.00561 9.73619 1.94954 9.91904L1.17896 12.4577C1.16388 12.5082 1.16275 12.5617 1.17566 12.6128C1.18858 12.6638 1.21508 12.7104 1.25234 12.7476C1.2896 12.7848 1.33624 12.8113 1.3873 12.8241C1.43837 12.8369 1.49195 12.8357 1.54238 12.8205L4.08163 12.0505C4.26431 11.995 4.43056 11.8954 4.56579 11.7606L12.3515 3.97371Z" stroke="#155DFC" stroke-width="1.252" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                Edit
              </button>

              <button
                class="bg-[#FF00001A] hover:bg-[#FF00001A] text-[#DC2626] px-4 py-2 rounded-lg cursor-pointer flex justify-center items-center gap-x-2"
              >
                Delete
              </button>

            </div>
    </p-dialog>
</div> 