:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  background-color: #A6252A !important;
  border-radius: 50% !important;
}

:host ::ng-deep .p-carousel-prev .pi,
:host ::ng-deep .p-carousel-next .pi {
  color: white !important;
}
section{
    font-family: var(--font-primary);
} 


:host ::ng-deep {
    .p-galleria-prev-button{
      left: 10% !important;
      background-color: #A6252A !important;
    }
    .p-galleria-next-button{
      right: 10% !important;
      background-color: #A6252A !important;
    }
    .p-galleria-close-button{
      background-color: #A6252A !important;
    }
    .p-button-text.p-button-secondary{
     background-color: #A6252A !important;
     color:white !important;
    }
    .p-button-text.p-button-secondary:hover{
     background-color: #CE1016 !important;
     color:rgb(255, 255, 255) !important;
    }
  
}


