<section class="w-full flex flex-col xl:flex-row justify-evenly items-center container mx-auto lg:px-20">

  <!-- Description section -->
  <div class="w-full xl:w-1/4 flex flex-col justify-center items-center xl:items-start">
    <div>
      <app-main-title subtitle="best selling"></app-main-title>
    </div>
    <div>
      <h1
        class="w-3/4 sm:w-1/2 xl:w-3/4 my-2 text-3xl font-[700] text-[1.875rem]
         text-[var(--color-text-maroon)] dark:text-[var(--dark-text-secondary)] "
      >
        <span class="text-[var(--color-text-pink)] dark:text-[var(--dark-text-main)]">Check Out </span>
        What Everyone's
        <span class="text-[var(--color-text-pink)] dark:text-[var(--dark-text-main)]">Buying </span>
        Right Now
      </h1>
      <p class="w-full xl:w-3/4 mb-7 dark:text-[#A1A1AA] text-sm">
        Not sure what to choose? Start with our best sellers, these are the
        gifts our customers keep coming back for. Whether you're celebrating a
        birthday, anniversary or wedding, our top picks are guaranteed to leave
        a lasting impression.
      </p>
    </div>

    <div class="mt-12 w-1/2 md:w-1/2 xl:w-1/2 flex-nowrap self-start">
      <app-custom-button
        pageType="Explore gifts"
        icon="pi-arrow-right"
      ></app-custom-button>
    </div>
  </div>

  <!-- caruosel section -->
  <div class="w-full xl:w-3/4 -p-2 ">
    <div class="card">
      @if (isBrowser()) {
          <p-carousel
        [value]="(bestSellerProducts | async) || []"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="true"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
        autoplayInterval="3000"
      >
        <ng-template pTemplate="item" let-i>
            <app-product-card
                [image]="i.imgCover"
                [alt]="i.slug"
                [title]="i.title"
                [value]="i.rateAvg"
                [price]="i.priceAfterDiscount"
                [priceBefore]="i.price"
                [badges]="i.badges"
                [images]="i.imagesNav"
                [id]="i._id"
                (imgNav)="openGallery($event)"
                [wishlistBtn]="true"
                [isWishlisted]="(wishlistIds$ | async)?.includes(i._id)||false"
                (addToWishlist)="addToWishlist($event)"
                (removeFromWishlist)="removeFromWishlist($event)"
            >
            </app-product-card>
        </ng-template>
          </p-carousel>
      }
    </div>
  </div>

      <!-- Navigator for product Images  (should put it in every Component using Card to preview images in each Card)-->


          <p-galleria 
              [value]="selectedImages"
              [(visible)]="displayGallery"
              [fullScreen]="true"
              [showThumbnails]="false"
              [circular]="true"
              [showItemNavigators]="true"
          >
              <ng-template pTemplate="item" let-item>
                  <img [src]="item" [alt]="item.title" class="w-full" />
              </ng-template>
          </p-galleria>
      
     
</section>