<section
  class="w-full flex flex-col xl:flex-row justify-evenly items-center container container mx-auto lg:px-20"
>
  <div
    class="w-full xl:w-1/4 flex flex-col justify-center items-center xl:items-start"
  >
    <div>
      <app-main-title subtitle="best selling"></app-main-title>
    </div>
    <div>
      <h1
        class="w-3/4 sm:w-1/2 xl:w-3/4 my-2 text-3xl font-[700] text-[1.875rem] text-[var(--color-text-maroon)]"
      >
        <span class="text-[var(--color-text-pink)]">Check Out </span>
        What Everyone's
        <span class="text-[var(--color-text-pink)]">Buying </span>
        Right Now
      </h1>
      <p class="w-full xl:w-3/4 mb-7 text-sm">
        Not sure what to choose? Start with our best sellers, these are the
        gifts our customers keep coming back for. Whether you're celebrating a
        birthday, anniversary or wedding, our top picks are guaranteed to leave
        a lasting impression.
      </p>
    </div>

    <div class="mt-12 w-1/2 md:w-1/2 xl:w-1/2 flex-nowrap self-start">
      <app-custom-button
        pageType="Explore gifts"
        icon="pi-arrow-right"
      ></app-custom-button>
    </div>
  </div>

  <!-- caruosel section -->
  <div class="w-full xl:w-3/4 ">
    <div class="card">
      <p-carousel
        [value]="(bestSellerProducts | async) || []"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="true"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
        autoplayInterval="3000"
      >
        <ng-template pTemplate="item" let-i>
          <div
            class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4"
          >
            <div class="mb-4">
              <div class="relative mx-auto">
                <img
                  [src]="i.imgCover"
                  [alt]="i.title"
                  class="w-full rounded-border"
                />
                <p-tag
                  [value]="i.inventoryStatus"
                  class="absolute dark:!bg-surface-900"
                  [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
                />
              </div>
            </div>

            <div class="mb-4 font-medium">{{ i.title }}</div>

            <div class="flex justify-between items-center">
              <div class="mt-0 font-semibold text-xl">{{  i.price | currency:'EGP' }}</div>
              <span>
                <p-button
                  icon="pi pi-heart"
                  severity="secondary"
                  [outlined]="true"
                />
                <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
              </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>
