.styleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  width: 406px;
  height: 41px;
  border-radius: 10px;
  padding: 14px 16px;
  vertical-align: middle;
}