<section class="bg-[#27272A] w-full p-10"> 
    <div class="w-full flex flex-col justify-evenly items-center lg:flex-row lg:justify-center lg:items-center  containers">

        <!-- logo -->
        <div class="flex flex-row items-center justify-between lg:flex-col lg:items-start lg:justify-evenly lg:w-1/4 gap-1">

            <div class="">
                <img src="footer-sec/footerlogo.png" 
                alt="footer-logo" class="w-[15rem] h-[14.0625rem] object-contain">
            </div>

            <div class="text-center md:ml-7">
                <h1 class="text-[16px] md:text-lg text-[#FFA3B9] font-[600]" 
                >Rose E-Commerce App</h1> 

                <p class="text-sm text-[#F4F4F5] font-[400]" 
                >All rights reserved | 2025</p>
            </div>

        </div> 


        <!-- naivgation and contatct -->
        <div class="w-full md:w-3/4 flex flex-col-reverse  md:flex-row md:items-start md:justify-between ">

            <div class="flex flex-col items-start justify-start">
                <h1 class="text-lg text-[#FFA3B9] font-[600]">
                    Discover our website
                </h1>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Home</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Products</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Categories</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Occasions</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Contact</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">About</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Terms & Conditions</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">Privacy Policy</a>
                <a class="text-[#F4F4F5] text-[16px] font-[500]">FAQs</a>
            </div>  


            <div class="flex flex-col items-center md:items-start justify-start mb-5 md:mb-0">
                 <h1 class="text-xl text-[#FFA3B9] font-[600]">
                    Get <span class="text-[#F4F4F5]">20%</span>Off Discount Coupon
                </h1>
                <p class="text-[#71717A]"
                >By subscribing to our newsletter</p>

                <div class="relative mt-5">
                    <input type="text" class=" w-[300px] md:w-[375px] h-[38px] bg-[#52525B] rounded-3xl px-4 text-[#A1A1AA]" 
                    placeholder="Enter your Email">
                    <button class="bg-[#FBEAEA] absolute right-0 py-2 px-3 rounded-3xl cursor-pointer ring-[#A1A1AA]
                     text-[#741C21] text-sm text-center font-[500]  ">
                        <span>Subscirbe</span> <i class="pi pi-arrow-right ms-2 "></i>
                    </button>
                </div>
                
            </div>

        </div>

    </div>
</section>
