<main>
  <app-auth-title [text]="'Forgot Password?'"></app-auth-title>
  <p>Worry not, we’ll send you instructions to help you reset it.</p>
  <form [formGroup]="forgetPassword">
    <app-reusable-input
      label="Email"
      placeholder="user@example.com"
      type="email"
      customClass="w-full"
      formControlName="email"
    >
    </app-reusable-input>
  </form>
  <div class="line"></div>
  <app-custom-button pageType="Continue"></app-custom-button>
  <div class="mt-5 flex justify-center">
    <p>Don’t have an account yet?</p>
    <a class="cursor-pointer CreateAccount" routerLink="/auth/register"
      >Create one now!</a
    >
  </div>
</main>
