@import '../../../../../styles/variables.scss';

.bgButton {
    color: var(--color-primary);
}

.logoBtn img{
    transform: scaleY(-1);
}

.styleLogo {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xxxl);
    color: var(--color-primary);
    font-family: var(--font-Secondary);
    vertical-align: middle;
}


.line{
    width: 406px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.556);
    margin-top: 50px;
}

.CreateAccount a{
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}