<main>
  <app-auth-title [text]="'Forgot Password?'"></app-auth-title>
  <p>Worry not, we’ll send you instructions to help you reset it.</p>
  <app-line></app-line>
  @if(step === 1){
  <form [formGroup]="forgetPassword" (ngSubmit)="submitForgetPassword()">
    <app-reusable-input
      label="Email"
      placeholder="user@example.com"
      type="email"
      customClass="w-full"
      formControlName="email"
    >
    </app-reusable-input>
    <app-custom-button
      pageType="Continue"
      (buttonClick)="submitForgetPassword()"
    ></app-custom-button>
  </form>
  } @if (step === 2) {
  <form [formGroup]="otpForm" (ngSubmit)="submitVerifyCode()">
    <div class="card flex justify-center my-5">
      <p-inputotp formControlName="otp" [length]="6" />
    </div>
  </form>
  <p
    class="text-center font-[var(--font-weight-medium)] text-[var(--font-size-sm)]"
  >
    Didn’t receive the code?
    <a
      role="button"
      tabindex="0"
      (click)="resendOtp()"
      (keyup.enter)="resendOtp()"
      class="text-[var(--color-primary)] font-[var(--font-weight-bold)] text-[var(--font-size-xl)] cursor-pointer"
    >
      Send A New Code
    </a>
  </p>

  <app-custom-button
    pageType="Verify OTP"
    (buttonClick)="submitVerifyCode()"
  ></app-custom-button>
  } @if (step === 3) {
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
    <app-reusable-input
      label="New Password"
      placeholder="Enter New Password"
      type="password"
      customClass="w-full"
      formControlName="newPassword"
    ></app-reusable-input>
    <app-reusable-input
      label="Confirm Password"
      placeholder="Enter New Confirm Password"
      type="password"
      customClass="w-full"
      formControlName="rePassword"
    ></app-reusable-input>
    <app-custom-button
      pageType="Reset Password"
      (buttonClick)="submitResetPassword()"
    ></app-custom-button>
  </form>
  }
  <app-line></app-line>

  <div class="mt-5 flex justify-center">
    <p>Don’t have an account yet?</p>
    <a
      class="cursor-pointer text-[var(--color-primary)] font-[var(--font-weight-bold)]"
      routerLink="/auth/register"
      >Create one now!</a
    >
  </div>
</main>
