<main>
  <div class="header">
    <div class="translate-button text-right mb-10">
      <p>arabic</p>
    </div>
    <div class="logo w-100 flex flex-col justify-center items-center">
      <img src="separator.png" alt="separator" />
      <h2 class="styleLogo">Forgot Password?</h2>
      <p>Worry not, we’ll send you instructions to help you reset it.</p>
    </div>
    <div class="line"></div>

  </div>

  <app-custom-button pageType="forgetPassword"></app-custom-button>

  <div class="line"></div>

  <div class="CreateAccount mt-5 flex justify-center">
    <p>Already have an account?</p>
    <a class="cursor-pointer" routerLink="/auth/login">Login</a>
  </div>

  <div class="logoBtn mt-5 w-100 flex flex-col justify-center items-center">
    <img class="scale-x-[-1]" src="sparetoButtom.png" alt="sparetoButtom" />
  </div>
</main>
