<section class="">
  <app-auth-title [text]="'Become part of our family!'"></app-auth-title>
  <div class="flex flex-col justify-center items-center">
    <app-line></app-line>
    <form [formGroup]="registerFOrm" class="flex flex-col justify-center items-center ">
      <div class="w-full flex justify-center items-center gap-x-4 ">
        <div class="w-5/12">
          <app-reusable-input
            type="text"
            label="First name"
            placeholder="Jonathan"
            customClass="!w-[100%]"
            formControlName="firstName"
          ></app-reusable-input>
        </div>
        <div class="w-5/12">
          <app-reusable-input
            type="text"
            label="Last Name"
            placeholder="Adrian"
            customClass="!w-[100%]"
            formControlName="lastName"
          ></app-reusable-input>

        </div>
      </div>
      <div class=" w-7/8 flex-column items-center justify-center">
        <app-reusable-input
          type="email"
          label="Email"
          placeholder="Enter Your Email"
          customClass="w-full"
          formControlName="email"
        ></app-reusable-input>
        <app-reusable-input
          type="tel"
          label="phone"
          placeholder="Enter Valid Number"
          customClass="w-full"
          formControlName="phone"
        ></app-reusable-input>
        <app-reusable-input
          type="select"
          label="Gender"
          [options]="['male', 'female']"
          placeholder="Select Gender "
          customClass="w-full"
          formControlName="gender"
        ></app-reusable-input>
        <app-reusable-input
          type="password"
          label="password"
          placeholder="password@1234 "
          customClass="w-full"
          formControlName="password"
        ></app-reusable-input>
        <app-reusable-input
          type="rePassword"
          label="Confirm Password"
          placeholder="********"
          customClass="w-full"
          formControlName="rePassword"
        ></app-reusable-input>
      </div>

      <app-custom-button class="!w-7/8 mt-5" (click)="registerSubmit()" pageType="Create Account"></app-custom-button>
    </form>
    <app-line></app-line>
  </div>

  <div class="mt-5 flex justify-center dark:text-white space-x-2">
    <p>Already have an account?</p>
    <a class="cursor-pointer text-[#741C21] font-[700] dark:!text-[#FFA3B9]" routerLink="/auth/login"
      > Login</a
    >
  </div>
</section>
