<main class="">
  <app-auth-title [text]="'Become part of our family!'"></app-auth-title>
  <div class="line"></div>
  <div class="flex flex-column justify-center items-center">
    <form [formGroup]="registerFOrm">
      <div class="flex justify-between items-center">
        <app-reusable-input
          type="text"
          label="First name"
          placeholder="Jonathan"
          customClass="w-3/4"
          formControlName="firstName"
        ></app-reusable-input>
        <app-reusable-input
          type="text"
          label="Last Name"
          placeholder="Adrian"
          customClass="w-3/4"
          formControlName="lastName"
        ></app-reusable-input>
      </div>
      <div class="flex-column items-center justify-center">
        <app-reusable-input
          type="email"
          label="Email"
          placeholder="Enter Your Email"
          customClass="w-100"
          formControlName="email"
        ></app-reusable-input>
        <app-reusable-input
          type="tel"
          label="phone"
          placeholder="Enter Valid Number"
          customClass="w-100"
          formControlName="phone"
        ></app-reusable-input>
        <app-reusable-input
          type="select"
          label="Gender"
          [options]="['male', 'female']"
          placeholder="Select Gender "
          customClass="w-100"
          formControlName="gender"
        ></app-reusable-input>
        <app-reusable-input
          type="password"
          label="password"
          placeholder="password@1234 "
          customClass="w-100"
          formControlName="password"
        ></app-reusable-input>
        <app-reusable-input
          type="password"
          label="Confirm Password"
          placeholder="******** "
          customClass="w-100"
          formControlName="rePassword"
        ></app-reusable-input>
      </div>

      <div class="cursor-pointer ms-7 flex justify-content-center align-center">
        <app-custom-button
          pageType="Create Account"
          (buttonClick)="registerSubmit()"
        ></app-custom-button>
      </div>
    </form>
  </div>

  <div class="mt-5 flex justify-center">
    <p>Already have an account?</p>
    <a class="cursor-pointer CreateAccount" routerLink="/auth/login">Login</a>
  </div>
</main>
