<h2 class="font-semibold text-2xl">Account Settings</h2>

<section class="w-full min-h-screen p-4 bg-[#FAFAFA]">
  <div class="container text-xl bg-white rounded-lg p-5">
    <div class="flex justify-start items-center gap-3">
      <div>
        <img class="w-24 rounded-full" src="/profile.png" alt="" />
      </div>

      <div>
        <h3 class="font-semibold text-xl">Upload Photo</h3>
        <p class="text-base font-normal text-[#71717A]">
          You can upload a .jpg, .png, or .gif photo with max size of 5MB.
        </p>
      </div>
    </div>

    <div class="card flex flex-col justify-between mt-6">
      <form
        [formGroup]="editForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col"
      >
        <!-- First And Last Flex Roe -->
        <div class="lg:flex lg:flex-row sm:flex-col gap-6 w-full">
          <div class="flex flex-col gap-1 flex-1">
            <!-- first Name -->
            <div class="flex flex-col gap-1">
              <label class="font-medium text-sm" for="firstName"
                >First Name</label
              >
              <input
                formControlName="firstName"
                type="text"
                id="firstName"
                placeholder="Jonathan"
                name="firstName"
                class="p-2"
                required
              />
            </div>
          </div>
          <!-- Last Name -->
          <div class="flex flex-col gap-1 flex-1">
            <label class="font-medium text-sm" for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              placeholder="Adrian"
              name="lastName"
              formControlName="lastName"
              class="p-2"
              required
            />
          </div>
        </div>
        <!-- Email -->
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="jonathan@gmail.com"
            formControlName="email"
            required
            class="p-2"
            email
          />
        </div>
        <!-- Password -->
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="Password">Password</label>
          <input
            type="Password"
            id="Password"
            name="Password"
            placeholder="*************"
            formControlName="Password"
            required
            class="p-2"
            Password
          />
        </div>
        <!-- phone -->
        <div class="flex flex-col gap-1 flex-1 p-3">
          <label class="font-medium text-sm" for="phone">Phone</label>
          <div class="w-full p-3">
            <ngx-intl-tel-input
              [cssClass]="'form-input full-width'"
              [preferredCountries]="['eg']"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [selectFirstCountry]="true"
              [separateDialCode]="true"
              [phoneValidation]="true"
              formControlName="phone"
              type="tel"
            ></ngx-intl-tel-input>
          </div>
        </div>
        <!-- Select Gender -->
        <div class="flex flex-col gap-1">
          <label class="font-medium text-sm" for="gender">Gender</label>

          <div class="card flex flex-col gap-1 w-full flex-1">
            <p-select
              [options]="['mail', 'feminine']"
              placeholder="Select a Gender"
              optionLabel="gender"
              [disabled]="false"
              class="w-full md:w-56"
              formControlName="gender"
            />
          </div>
        </div>
        <!-- Option Delete Or Change -->
        <div
          class="flex flex-col lg:flex-row lg:items-center lg:justify-between p-5"
        >
          <!-- P DeLETE oR  Change -->
          <div class="flex gap-5">
            <button (click)="showDialog()">
              <h3 class="text-[#DC2626] text-base font-medium">
                Delete My Account
              </h3>
            </button>

            <a
              class="text-base font-medium text-[#27272A]"
              routerLink="/dash/changePassword"
            >
              Change Password
            </a>
          </div>
          <!-- Button -->
          <button
            class="bg-[#A6252A] mt-3 w-fit p-1.5 text-white rounded-lg"
            type="submit"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="card flex flex-col justify-center items-center">
  <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
    <div
      class="flex flex-col items-center justify-center w-50 bg-[#2E2E3026] rounded-full p-5"
    >
      <i class="pi pi-trash"></i>
    </div>
    <h2 class="font-semibold text-lg">
      Are you sure you want to delete your account?
    </h2>
    <h3 class="text-[#CD2E33] font-medium text-base">
      This action is permanent and cannot be undone.
    </h3>
    <div class="flex justify-between items-center">
      <p-button
        class="btn border rounded-lg items-center p-2 mt-5"
        label="Nope, not doing it"
        (click)="visible = false"
      />
      <p-button
        class="bg-[#DC2626] p-2 rounded-lg text-white text-base font-semibold"
        label="Yes, delete"
        (click)="visible = false"
        (onClick)="deleteMyAccount()"
      />
    </div>
  </p-dialog>
</div>
