<div class="title font-semibold text-2xl">Add a New Occasion</div>

<section class="bg-white p-5 rounded-lg">
  <form [formGroup]="occasionsForm" (ngSubmit)="submitForm()">
    <div class="w-100 lg:w-[75%]">
      <label for="name">Name <span class="text-[#A6252A]">*</span> </label>

      <div
        class="card flex justify-center p-1 rounded-lg border border-gray-300 w-full"
      >
        <input
          class="w-full p-1 rounded-lg"
          formControlName="name"
          type="text"
          pInputText
        />
      </div>
      @if(occasionsForm.get('name')?.touched &&
      occasionsForm.get('name')?.hasError('required') ){
      <div class="card flex flex-wrap gap-4 text-red-500 mt-3 justify-center">
        <p-message severity="error">Name Is Required</p-message>
      </div>
      }
      <label class="mt-3" for="image"
        >Occasion image<span class="text-[#A6252A]">*</span>
      </label>

      <div
        class="card flex text-red-500 border border-gray-300 mt-4 flex-wrap gap-6 justify-end p-2 rounded-lg items-center"
      >
        <p-fileupload
          mode="basic"
          chooseIcon="pi pi-upload  "
          accept="image/*"
          [maxFileSize]="1000000"
          (onSelect)="onFileSelect($event)"
        ></p-fileupload>
      </div>
    </div>

    <button
      type="submit"
      class="mt-60 lg:mt-10 w-100 lg:w-[75%] bg-[#A6252A] disabled:bg-[#D95A5F] disabled:cursor-not-allowed text-white px-4 py-2 rounded-lg"
      [disabled]="occasionsForm.invalid"
    >
      Add Occasion
    </button>
  </form>
</section>
