<section class="w-full min-h-screen p-4 bg-[#FAFAFA]">
  <!-- here will put all system reports components -->
  <app-section-table
    [mainTitle]="'All Categories'"
    [buttonIcon]="'pi-plus'"
    [buttonTitle]="'Add a Category'"
    [placeholder]="'Search Categories .......'"
    [tableData]="categories$ | async"
    [columns]="columns"
    [filterFields]="filterFields"
    (rowSelect)="onRowSelect($event)"
    [addRoute]="'/dash/categories/addCategory'"
    [editBaseRoute]="'/dash/categories/updateCategory'"
    [buttonRoute]="'/dash/categories/addCategory'"
  ></app-section-table>
</section>
