<section class="container mx-auto lg:px-20 ">

    <!-- The main Division -->
    <div class="w-full flex flex-col justify-center lg:flex-row py-14 gap-x-2 ">

        <!-- Filters Section  -->
         <div class="w-1/4  flex flex-col items-start justify-start">

            <!-- Categories Filter -->
            <app-category-filter 
            (categorySelected)="onCategorySelected($event)"
            >
            </app-category-filter> 


            <!-- occasions Filter -->
            <app-occasions-filter
            (OccasionSelected)="onOccationsSelected($event)"
            >
            </app-occasions-filter> 

            <app-price-filter>

            </app-price-filter>
            

            <!-- reset All button  -->
            <div class="bg-[var(--color-secondary)] w-[297px] py-2 rounded-xl px-5 mt-6">

                <div class=" w-full flex justify-center items-center">
                     <app-reset-button
                    [buttonName]="'Reset All'"
                    (click)="resetAll()"
                    >
                    </app-reset-button>
                </div>
            </div> 


            
          
         </div>



         <!-- Products Section -->
          <div class="w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 place-items-start">

            <!-- here will be a forloop on products array which will contain Reusable-Card-Component -->
            @for (item of (paginatedProducts$ |async) ; track $index) {

                 <app-product-card
                    [image]="item.imgCover"
                    [alt]="item.slug"
                    [title]="item.title"
                    [value]="item.rateAvg"
                    [price]="item.priceAfterDiscount"
                    [priceBefore]="item.price"
                    [badges]="item.badges"
                    [wishlistBtn]="true"
                ></app-product-card>
            } 

          </div>
           
    </div>

            <div class=" card w-full lg:w-3/4 flex justify-center lg:justify-end items-center my-5">
                <p-paginator  (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" 
                          [totalRecords]="(sortedProducts$| async)?.length"/>
            </div>

</section>
