<section class="container mx-auto grid grid-cols-1 md:grid-cols-2 items-center gap-8 py-16 ">
  <!--* Left Images -->
  <div class="flex flex-col items-center gap-6 ">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 place-items-center">
      <div class="border-primary border-4  rounded-tl-[50px] rounded-tr-[120px] rounded-b-[120px] rotate-4 md:mx-2">
        <div
          class="rounded-tl-[50px] rounded-tr-[120px] rounded-b-[120px] overflow-hidden translate-x-5 translate-y-2 -rotate-4">
          <img src="images/about-sec/one.png" alt="Gift box" class="object-cover w-[300px] h-[340px]" />
        </div>
      </div>
      <div class="">
        <div class="rounded-full overflow-hidden ">
          <img src="images/about-sec/two.png" alt="Gift" class="object-cover w-[193px] h-[193px]" />
        </div>
        <div
          class=" rounded-full overflow-hidden rounded-tl-[50px] rounded-tr-[100px] rounded-br-[100px] rounded-bl-[50px] mt-5">
          <img src="images/about-sec/three.png" alt="Gift" class="object-cover  w-[193px] h-36" />
        </div>
      </div>
    </div>
  </div>

  <!--* Right Content -->
  <div class="flex flex-col items-start justify-center">
    <!--* Title Component -->
    <app-main-title subtitle="ABOUT"> </app-main-title>
    <h3 class="lg:text-2xl xl:text-4xl text-primary font-bold">
      Delivering the <span class="text-text">Finest</span> Gift Boxes for Your
      <span class="text-text">Special</span> Moments
    </h3>
    <p class="my-2 lg:text-sm xl:text-lg text-gray-500 font-medium">
      Make every moment memorable with our premium gift boxes. Carefully curated
      and beautifully packaged, each box is filled with handpicked items
      designed to impress. Whether it's for a birthday, wedding, or a simple
      “thank you,” our gift boxes are crafted to leave a lasting impression —
      because thoughtful gifting starts here.
    </p>
    <button
      class="my-3 flex items-center justify-center text-white px-6 py-2 rounded-xl bg-primary shadow-2xl/80 hover:shadow-2xl/90 hover:scale-105 hover:-translate-y-1 transition-all duration-500 cursor-pointer font-semibold">
      Discover
      <img class="w-8 ms-2" src="images/about-sec/arrow.png" alt="icon" />
    </button>
    <ul class="mt-4 grid sm:grid-cols-2 gap-3 text-gray-700">
      @for (item of features; track $index) {
      <li class="flex items-center gap-2">
        <img src="images/about-sec/check.png" alt="icon" />
        {{ item }}
      </li>
      }
    </ul>

  </div>
</section>