<section class="container mx-auto lg:px-20 py-14">
    <div class="bg-[var(--color-secondary)] dark:bg-[var(--dark-third)] rounded-3xl w-full py-10 min-h-[145px] mt-8 mb-14 px-6">

        <!-- title -->
        <div class="flex justify-center items-center ">

            <h1 class="text-3xl lg:text-4xl font-[700] text-[var(--color-text-maroon)] dark:text-[#FFC2D0] text-center">
                Trusted by over 
                <span class="text-[var(--color-text-pink)] dark:text-[var(--dark-text-main)]">4.5+</span> 
                    companies </h1>

        </div>

        <!-- logos -->
        <div class=" w-full py-5 mt-3 gap-y-5 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6">
                
            @for (logo of logos; track $index) {

                <img [src]="logo.src" alt="Sponsors-logos" class="object-contain w-full h-[51px]">

            }

        </div>



    </div>
</section>
