<section>
  <div class="parent container mx-auto flex justify-center items-center gap-3  ">
    @for (item of items; track item.id) {
    <div class="SpecialGifts relative">
      <div class="image">
        <img [src]="item.images" class="w-100 rounded-2xl" alt="SpecialGifts" />
      </div>

      <div class="starting absolute top-40 left-5">
        <span class="text-[#A6252A] bg-[#FBEAEA] p-1 rounded-2xl">
          {{ item.desc }}
        </span>

        <h2 class="text-white font-[var(--font-weight-semibold)] fontSize">
          {{ item.title }}
        </h2>
      </div>
    </div>
    }
  </div>
</section>
