@if(router.url === '/dash/categories'){
<section class="w-full min-h-screen p-4 bg-white">
  <!-- here will put all system reports components -->

  <div class="card border-none shadow-none">
    <p-table
      #dt1
      [value]="category"
      dataKey="_id"
      [rows]="limit"
      [rowsPerPageOptions]="[5, 10, 20]"
      [loading]="loading"
      [paginator]="true"
      [rowHover]="true"
      [(selection)]="selectedCategory"
      selectionMode="single"
      lazy="true"
      [globalFilterFields]="['name']"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <ng-template #caption>
        <div class="flex justify-between items-center p-2">
          <h1 class="font-semibold text-xl md:text-2xl">All Categories</h1>
          <div class="btn flex justify-between items-center">
            <a routerLink="addCategory">
              <button class="bg-[#A6252A] p-2 text-white rounded-lg">
                <i class="pi pi-plus me-1"></i>
                <span>Add a new category</span>
              </button>
            </a>
          </div>
        </div>
        <div class="flex p-2 rounded-lg w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>

            <input
              (input)="onGlobalFilter($event)"
              pInputText
              type="text"
              placeholder="Search By Name"
              class="!w-300 !border !border-gray-300 !p-2 !rounded-lg"
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th style="width: 10%">Name</th>
          <th style="width: 22%">Products</th>
        </tr>
      </ng-template>
      <ng-template #body let-cat>
        <tr [pSelectableRow]="cat" (click)="selectedCategory = cat">
          <td
            [style.background]="
              selectedCategory?._id === cat._id ? '#fef2f2' : ''
            "
          >
            {{ cat.name }}
          </td>
          <td
            [style.background]="
              selectedCategory?._id === cat._id ? '#fef2f2' : ''
            "
          >
            {{ cat.productsCount }} Product
          </td>
          <td
            [style.background]="
              selectedCategory?._id === cat._id ? '#fef2f2' : ''
            "
            class="hidden md:table-cell"
          >
            <a routerLink="updateCategory">
              <button class="bg-[#0063D01A] p-1 rounded-lg">
                <i class="pi pi-pencil text-[#155DFC]"></i>
                <span class="font-medium font:xs text-[#155DFC]">Edit</span>
              </button>
            </a>
          </td>
          <td
            [style.background]="
              selectedCategory?._id === cat._id ? '#fef2f2' : ''
            "
            class="hidden md:table-cell"
          >
            <button class="bg-[#FF00001A] p-1 rounded-lg">
              <i class="pi pi-pencil text-[#DC2626]"></i>
              <span class="font-medium font:xs text-[#DC2626]">Delete</span>
            </button>
          </td>
          <td class="md:hidden">
            <div class="flex justify-center">
              <p-menu
                #menu
                [model]="items"
                [popup]="true"
                [appendTo]="'body'"
              ></p-menu>
              <p-button
                (click)="menu.toggle($event)"
                icon="pi pi-ellipsis-v"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="5">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
}

<router-outlet></router-outlet>
