<div class="flex flex-col md:flex-row justify-center items-center  ">
  <div class="content w-full md:w-1/2 flex flex-col items-center justify-center ">
<div class="flex flex-col md:flex-row justify-center items-center  ">
  <div class="content w-full md:w-1/2 flex flex-col items-center justify-center ">
    <app-auth-header-footer>
        <router-outlet></router-outlet>
    </app-auth-header-footer>
  </div>

  <div class="image w-1/2 h-full">
    <img src="bg.png" alt="background" class="h-screen object-contain w-[70%] " />
  </div>
</div>