<Section class="">
  <app-section-title title="Checkout our great promotions"></app-section-title>
  <!-- 
 <h1>hello from my branch Mostafa </h1>
 <h3>resend</h3> -->
  <!-- <app-product-card></app-product-card> -->

  <!-- <div class="flex gap-3 mb-1">
    <app-special-gifts class="flex-[1]  "></app-special-gifts>
    <app-special-gifts-slider class="flex-[3]"></app-special-gifts-slider>
  </div>

  <app-special-gifts-items></app-special-gifts-items> -->
  <app-product-card></app-product-card>
</Section>
