<Section>
  <!-- Main Body -->
  <div class="w-full flex flex-col lg:flex-row justify-evenly items-center px-2 md:px-16 py-3">

      <!-- logo , location , button -->
        <div class="w-full lg:w-1/8 flex justify-between items-center px-3 md:px-5 flex-2 order-1 lg:order-1 mb-4 lg:mb-0">

            <!-- Logo -->
            <div class="flex">
                <img src="footer-sec/footerlogo.webp" alt="navbar-logo"
                class="w-[65px] h-[60px] md:w-[85px] md:h-[80px] object-cover">
            </div>

            <!-- Location -->
            <div class="flex flex-col items-center justify-evenly text-center">
                <h1 class="text-[var(--color-text-gray)] font-[400]">Deliver to</h1>
                <a class="text-[var(--color-primary)] font-[500]">
                    <i class="pi pi-map-marker text-[var(--color-primary)] font-[500]"></i>
                     {{locationMessage}}
                    </a>
            </div>

            <!-- Mobile Button -->
            <button 
                class="flex justify-center items-center p-2 bg-[var(--color-secondary)] border-[1px]
                 border-[var(--color-primary)] text-[var(--color-primary)]
                 focus:ring-[var(--color-primary)] focus:ring-1 rounded-lg lg:hidden cursor-pointer"
                (click)="toggleMenu()">
                <i class="pi pi-align-justify !text-xl"></i>
            </button>

        </div>

      <!-- Search Bar -->
      <div class="w-full lg:w-4/8 bg-white border-[1px] border-[#A1A1AA] rounded-xl px-5 flex items-center flex-7 order-3 lg:order-2">
          <i class="pi pi-search text-[#A1A1AA]"></i>
          <input type="search" placeholder=" What awesome gift are you looking for ?" 
          class="w-full py-3 border-white outline-none focus:outline-none font-[400]
          focus:ring-0 text-lg pl-4 text-[#7c7c84]">
      </div>

      <!--  profile  icons  language -->
      <div class="w-full lg:w-1/8 justify-between items-center flex-3 text-xl 
                  order-2 lg:order-3 mb-4 lg:mb-0 hidden lg:flex ">

      
                  <!-- here will use condition if login or not  -->
                   @if (!isLogin) {
                       <div *ngIf="!isLogin" class="w-1/3 flex justify-center items-center gap-2 wrapper">
                            <a routerLink="/auth/login"  class="flex items-center gap-2 cursor-pointer"> 
                                <i class="pi pi-user !text-xl text-[#3F3F46]"></i>
                                <span class="text-xl">login</span>
                            </a>
                        </div>
                   } @if(isLogin){
                        <div class="w-1/2 flex justify-center items-center gap-2 wrapper">
                            <!-- greetings with userName -->
                             <div class="flex flex-col justify-center  items-start">  
                                <p class="text-sm  text-[var(--color-text-gray)]">Hello</p>
                                <h2 class="text-2xl text-[var(--color-text-maroon)] font-semibold  ">{{userName}}</h2>
                                

                             </div>
                             <!-- dropdown Menu for user settings -->
                              <div class="relative">
                                <button (click)="userMenu()"><i class="pi pi-angle-down mt-6 cursor-pointer"></i></button>
                                @if (showUserMenu) {
                                    <div class="absolute right-1 mt-1 rounded-2xl border-[1px] w-[240px] py-2 flex flex-col items-start justify-center bg-white z-30 px-3">


                                        <h1 class="text-lg text-[var(--color-text-maroon)] font-[700] px-3 mt-1">{{userName}} {{lastName}}</h1>
                                        <ul class="mt-4 space-y-2 my-2" >
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-user"></i>
                                               <a>My Profile</a>
                                            </li>
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-map-marker"></i>
                                               <a>My Addresses</a>
                                            </li>
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-id-card"></i>
                                               <a>My Orders</a>
                                            </li>
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-cog"></i>
                                               <a>Dashboard</a>
                                            </li>
                                            <div (click)="logout()" tabindex="0" role="button">
                                                    <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer "
                                                 >
                                                <i class="pi pi-sign-out"></i>
                                               <a>Log out</a>
                                            </li>
                                            </div>
                                        </ul>
                                        
                                    </div>

                                }
                              </div>

                        </div>

                   }
       

          <div class="w-1/3 flex items-center justify-center gap-3 wrapper ">
              <a><i class="pi pi-heart !text-2xl !text-[#3F3F46] cursor-pointer hover:scale-[1.2] duration-[.5s]  "></i></a>
              <a><i class="pi pi-shopping-cart !text-2xl !text-[#3F3F46] cursor-pointer hover:scale-[1.2] duration-[.5s]"></i></a>
              <a><i class="pi pi-bell !text-2xl text-[#3F3F46] cursor-pointer hover:scale-[1.2] duration-[.5s]"></i></a>
          </div>

          <div class="w-1/3 text-center cursor-pointer text-[#3F3F46] py-3 cursor-pointer">العربية</div>

      </div>
  </div>

        <!-- Dropdown Menu -->
        <div class="p-2 lg:p-0">

            @if (showMobileMenu) {
                   <div  class="w-full px-6 py-4  bg-[var(--color-secondary)] border-[1px] relative
                        rounded-2xl lg:hidden flex flex-col justify-center items-start gap-2 border-[#A1A1AA]">

                        <!-- here also will use condition if login or not  -->
                    @if (!isLogin) {
                            <div class="flex items-center cursor-pointer px-3 py-1  hover:bg-[#f9d9d9] w-full hover:rounded-2xl" >
                            <a routerLink="/auth/login" class="space-x-2 mb-2" >
                                <i class="pi pi-user !text-xl !text-[var(--color-text-maroon)] font-[500]"></i> 
                                <span class="!text-xl !text-[var(--color-text-maroon)] font-[500]">Login</span>
                            </a>
                        </div>
                    } @if (isLogin) {
                        <div class="px-3 flex justify-center items-center gap-2">
                            <!-- greetings with userName -->
                             <div class="flex flex-col justify-center  items-start">  
                                <p class="text-sm  text-[var(--color-text-gray)]">Hello</p>
                                <h2 class="text-2xl text-[var(--color-text-maroon)] font-semibold  ">{{userName}}</h2>
                                

                             </div>
                             <!-- dropdown Menu for user settings -->
                              <div class="relative">
                                <button (click)="userMenu()"><i class="pi pi-angle-down mt-6 cursor-pointer"></i></button>
                                @if (showUserMenu) {
                                    <div class="absolute left-1 mt-1 rounded-2xl border-[1px] w-[240px] py-2 flex flex-col items-start justify-center bg-white z-30 px-3">


                                        <h1 class="text-lg text-[var(--color-text-maroon)] font-[700] px-3 mt-1">{{userName}} {{lastName}}</h1>
                                        <ul class="mt-4 space-y-2 my-2" >
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-user"></i>
                                               <a>My Profile</a>
                                            </li>
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-map-marker"></i>
                                               <a>My Addresses</a>
                                            </li>
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-id-card"></i>
                                               <a>My Orders</a>
                                            </li>
                                            <li class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer">
                                                <i class="pi pi-cog"></i>
                                               <a>Dashboard</a>
                                            </li>
                                            <div  (click)="logout()" tabindex="0" role="button" >
                                                   <li  class="space-x-2 !text-lg !font-[600] w-full hover:bg-[var(--color-secondary)] hover:rounded-xl px-3  cursor-pointer "
                                               
                                                >
                                                <i class="pi pi-sign-out"></i>
                                               <a>Log out</a>
                                            </li>
                                            </div>
                                        </ul>
                                        
                                    </div>

                                }
                              </div>

                        </div>
                    }

                        <div class="flex items-center gap-4 px-3 py-1 w-full py-1 hover:rounded-2xl  hover:bg-[#f9d9d9]">
                            <a><i class="pi pi-heart !text-2xl hover:scale-[1.3] duration-[.5s] !text-[var(--color-text-maroon)] font-[500] cursor-pointer "></i></a>
                            <a><i class="pi pi-shopping-cart !text-2xl hover:scale-[1.3] duration-[.5s] !text-[var(--color-text-maroon)] font-[500] cursor-pointer"></i></a>
                            <a><i class="pi pi-bell !text-2xl hover:scale-[1.3] duration-[.5s] text-[var(--color-text-maroon)] font-[500] cursor-pointer"></i></a>
                        </div>

                        
                        <div class="!text-xl px-3 w-full py-1 hover:rounded-2xl  hover:bg-[#f9d9d9] text-[var(--color-text-maroon)] font-[500]">
                            <a class="">العربية</a></div>
                    </div>

            }
         
        </div>

</Section>


        <!-- Second Section -->
        <!-- Navigation Bar with Links  -->
<section>
    <div class="w-full bg-[var(--color-text-maroon)] px-4 lg:px-0 ">
        
       <ul class=" grid grid-cols-3 lg:flex lg:flex-row items-center lg:justify-center flex-nowrap gap-8 
            lg:gap-14 py-4 text-white !text-xl space-x-6 lg:space-x-0">

        <li routerLink="/main/home"
            routerLinkActive="text-[#FFC2D0]"
            class="w-full lg:w-1/12 cursor-pointer space-x-2">    
            <i class="pi pi-home !text-xl"></i>
            <span>Home</span>
        </li>
       
        <li routerLink="/main/products" 
            routerLinkActive="text-[#FFC2D0]"
            class="w-full lg:w-1/12 cursor-pointer hover:text-[#FFC2D0]  space-x-2 ">    
            <i class="pi pi-gift !text-xl"></i>
            <span>Products</span>
        </li>
       
        <li class="w-full lg:w-1/12 cursor-pointer hover:text-[#FFC2D0]  space-x-2 ">    
            <i class="pi pi-clipboard !text-xl"></i>
            <span>Categories</span>
        </li>
       
        <li class="w-full lg:w-1/12 cursor-pointer hover:text-[#FFC2D0]  space-x-2 ">    
            <i class="pi pi-sparkles !text-xl"></i>
            <span>Occasions</span>
        </li>
       
        <li class="w-full lg:w-1/12 cursor-pointer hover:text-[#FFC2D0]  space-x-2 ">    
            <i class="pi pi-headphones !text-xl"></i>
            <span>Contact</span>
        </li>
       
        <li class="w-full lg:w-1/12 cursor-pointer hover:text-[#FFC2D0]  space-x-2 ">    
            <i class="pi pi-exclamation-circle !text-xl"></i>
            <span>About</span>
        </li>
       
    </ul>
    </div>

</section>
