.wrapper::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 36px; 
  background-color: #3F3F46; 
  margin-left: 7px;
}

.line {
  display: inline-block;
  position: relative;
  align-items: center;
}
.line::after {
  content: "";
  position: absolute;
  min-width: 100px;
  height: 3px; 
  background-color: #FFC2D0; 
  left: 0;
  bottom: -9px;
} 

:host ::ng-deep {
  .nav-btn {
  background: var(--color-secondary) !important;
  color: var(--color-text-maroon) !important;
  border-color: white ;

  } 
}  

section{
    font-family: var(--font-primary);
      .p-menu-submenu-label {
    font-size: 34px !important;
}

} 

 




