@use '../../../../styles/variables.scss';
@use '../../../../styles.scss';
.styleLogo {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxxl);
  font-family: var(--font-Secondary);
  text-align: center;
}
