@use '../../../../styles/variables.scss';
@use '../../../../styles.scss';
.styleLogo {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxxl);
  color: var(--color-primary);
  font-family: var(--font-Secondary);
  vertical-align: middle;
}
