<section>
       <div class="flex items-center justify-center">
           <button class="text-[var(--color-primary)] dark:text-[var(--dark-text-secondary)] inline-flex cursor-pointer font-[500]
                        hover:scale-[1.2] duration-[1s] mr-3 hover:bg-[var(--color-secondary)] dark:hover:bg-[#3F3F46] hover:rounded-xl hover:px-2">

                                <svg width="22" height="22" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.25 3.75L3.75 11.25M3.75 3.75L11.25 11.25" stroke="#DC2626" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                {{buttonName()}}</button>
       </div>
</section>