@use '../../../styles/variables.scss';
.bgButton {
  color: var(--color-primary);
}

.logoBtn img {
  transform: scaleY(-1);
}

.line {
  width: 406px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.556);
  margin-top: 50px;
}
