<div class="flex flex-col items-center justify-center">
  <div class="header">
  <div class="translate-button text-right mb-10 dark:text-white">
    <p>arabic</p>
  </div>
  <div class="logo w-100 flex flex-col justify-center items-center">
    <img src="separator.png" alt="separator" />
  </div>
</div>

<!-- <div class="line"></div> -->
<ng-content></ng-content>
<div class="logoBtn mt-5 w-100 flex flex-col justify-center items-center">
  <img class="scale-x-[-1]" src="sparetoButtom.png" alt="sparetoButtom" />
</div>

</div>