<section class="w-full min-h-screen p-4 bg-[#FAFAFA]">
        <!-- here will put all system reports components -->
       <app-section-table
        [mainTitle]="'All Products'"
        [buttonIcon]="'pi-plus'"
        [buttonTitle]="'Add a new product'"
        [placeholder]="'Search products .......'"
        [tableData]="Products$ | async"
        [columns]="columns"
        [filterFields]="filterFields"
        (rowSelect)="onRowSelect($event)"
        [addRoute]="'/dash/products/addProduct'"
        [buttonRoute]="'/dash/products/addProduct'"
       ></app-section-table> 
      
        
</section>
