<section class="container mx-auto lg:px-20 mt-2 ">

    <!-- product Details -->
    <div class="w-full flex flex-col  lg:flex-row justify-between lg:justify-center items-center gap-4 lg:gap-0 py-7" > 

      <!-- images Section -->
       <div class="w-full lg:w-1/2 "> 
          <div class="card">
            @if(isBrowser()) {

               <p-galleria [value]="galleriaImages()" [responsiveOptions]="responsiveOptions" 
            [containerStyle]="{ 'max-width': '605px' }" [numVisible]="4" styleClass="custom-galleria" [showItemNavigators]="true" 
            [showThumbnails]="true" [circular]="true " [autoPlay]="true" [transitionInterval]="3000" >

                <ng-template #item let-item>
                    <img [src]="item.itemImageSrc" class="!w-full !h-[402px] !rounded-lg !object-contain !my-8" alt="main image for product" />
                </ng-template>
                <ng-template #thumbnail let-item>
                    <img [src]="item.thumbnailImageSrc" class="w-[105px] !h-[111px] !rounded-lg" alt="images for product" />
                </ng-template>
            </p-galleria>

            }
           
        </div>
       </div>


      <!-- Description Section -->
       <div class="w-full lg:w-1/2 flex flex-col justify-end items-start px-4 lg:px-0 dark:text-secondary"> 
          <!-- title -->
           <div class=" line w-full ">
              <h1 class="text-4xl font-[600] capitalize mb-3">{{productFromStore()?.title}}</h1>
              
              <!-- price and stock -->
              <div class="flex flex-row  gap-4">
                 <p class="text-4xl flex flex-row items-center  font-[700] text-black gap-3  dark:text-secondary">
                  <span class=" text-[#D4D4D8] gap-3 line-through font-[500] ">{{productFromStore()?.price}}</span>
                  {{productFromStore()?.priceAfterDiscount |currency:'EGP'}}
                </p>
                <!-- stock Badge  -->
                <div class="bg-[#F4F4F5] rounded-2xl px-3 py-1 flex items-center justify-center ">
                  <p class="text-black text-center font-[600]">
                    <i class="pi pi-box"></i>
                    {{productFromStore()?.quantity}} left in Stock
                  </p>
                </div>
              </div>
           </div>

           <!-- rating -->
           <div class="line w-full">
             <div class="flex items-center justify-start space-x-3 font-[500] text-xl w-full py-4">
              <i class="pi pi-star-fill !text-2xl text-[#FFA508]  "></i>
              <p> Rating : {{productFromStore()?.rateAvg}}/5</p>
              <p class="text-blue-700 dark:text-blue-300">({{productFromStore()?.rateCount}} ratings)</p>
            </div>
           </div>

           <!-- describtion -->
            <div class=" w-full min-h-[180px] lg:h-[290px]">

              <p class="self-start my-4 text-[16px] font-semibold"> {{productFromStore()?.description}}</p>
            </div>


            <!-- buttons -->
            <div class="w-full flex justify-center items-center my-5 lg:my-0 gap-2 lg:gap-4 ">
                  <!-- wishlist button  -->
              <div class="w-2/12 lg:w-1/12 flex justify-center lg:justify-start">
                  <button (click)="addToWishlist(productId)" class="h-[46px] w-[52px] rounded-xl bg-[#A6252A] dark:bg-[var(--bg-button)] dark:hover:bg-[var(--bg-button-hover)] 
                  text-white dark:text-[var(--color-text-maroon)] flex items-center justify-center cursor-pointer">
                     <svg width="24" height="24" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.125 14.625L9 15.75L3.75 10.5C2.625 9.4125 1.5 8.1 1.5 6.375C1.5 5.28098 1.9346 4.23177 2.70818 3.45818C3.48177 2.6846 4.53098 2.25 5.625 2.25C6.945 2.25 7.875 2.625 9 3.75C10.125 2.625 11.055 2.25 12.375 2.25C12.9798 2.2507 13.5771 2.38439 14.1245 2.64162C14.6719 2.89884 15.1561 3.2733 15.5427 3.73846C15.9293 4.20363 16.2088 4.74811 16.3616 5.33335C16.5143 5.91858 16.5365 6.53024 16.4265 7.125M11.25 11.25H15.75M13.5 9V13.5" 
                        stroke="currentColor" stroke-width="1.45833" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                  </button>
                </div>

                <!-- add to cart button -->
              <div class="w-9/12 lg:w-11/12 flex justify-start ">
                  <button (click)="addToCart(productId)" class="h-[46px] rounded-xl bg-[#A6252A] dark:bg-[var(--bg-button)] dark:hover:bg-[var(--bg-button-hover)] text-white dark:text-[var(--color-text-maroon)] w-full flex items-center justify-center cursor-pointer gap-x-3">
                     <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.875 0.875H2.95833L5.72917 13.8125C5.83081 14.2863 6.09445 14.7099 6.4747 15.0103C6.85495 15.3107 7.32803 15.4691 7.8125 15.4583H18C18.4741 15.4576 18.9338 15.2951 19.3032 14.9977C19.6725 14.7004 19.9293 14.286 20.0313 13.8229L21.75 6.08333H4.07292M8.11458 20.6146C8.11458 21.1899 7.64821 21.6562 7.07292 21.6562C6.49762 21.6562 6.03125 21.1899 6.03125 20.6146C6.03125 20.0393 6.49762 19.5729 7.07292 19.5729C7.64821 19.5729 8.11458 20.0393 8.11458 20.6146ZM19.5729 20.6146C19.5729 21.1899 19.1065 21.6562 18.5312 21.6562C17.956 21.6562 17.4896 21.1899 17.4896 20.6146C17.4896 20.0393 17.956 19.5729 18.5312 19.5729C19.1065 19.5729 19.5729 20.0393 19.5729 20.6146Z"
                       stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg> 
                      <span class="font-[500] text-lg">
                          Add to Cart
                      </span>

                  </button>
                </div>

            </div>
       </div>
   
    </div>


    
    <!-- product Review -->
     <div class="flex flex-col items-start justify-start w-full mt-8 lg:mt-5 px-4 lg:px-0">

      <!-- first part ratings and stars  -->
      <div class="line w-full">
             <app-section-title
            [title]="'Product Reviews'"
            ></app-section-title> 

            <h1 class="mt-5 text-2xl font-[600] dark:text-[var(--color-secondary)]">Genral rating:</h1>
            <p class="text-black text-3xl dark:text-[var(--color-secondary)] ">{{productFromStore()?.rateAvg}} <span class="text-blue-700 text-lg dark:text-blue-300">({{productFromStore()?.rateCount}} ratings)</span></p>
            <div class="card  mt-3 pb-4 ">
                  <p-rating [ngModel]="productFromStore()?.rateAvg" [readonly]="true" class="big-rating" />
            </div>
      </div>


      <!-- second section reviews and add review  -->
       <div class="flex flex-col items-start justify-center lg:flex-row w-full pb-7 px-4 lg:px-0">

        <!-- reviews -->
         <div class="w-full lg:w-[56%] py-4 line2 ">

          <!-- check if the product has no reviews -->
          @if ((reviews$|async)?.length === 0 ) {
            <h1 class="text-2xl font-[600] text-[var(--color-text-maroon)] dark:text-[var(--color-secondary)] capitalize">
              this Product has no reviews add your review in the right side </h1>


          }@else if ((reviews$|async)?.length !== 0 ) {
                 @for (item of (reviews$|async); track $index) {
            <app-review-card
                [userImg]="item.user.photo"
                [userName]="item.user.firstName + item.user.lastName"
                [date]="item.createdAt"
                [rateAvg]="item.rating"
                [reviewTitle]="item.title"
                [review]="item.comment"
            >
            </app-review-card>
          }
         
          }

       
          
         </div>
         <!-- separate line between 2 divs shows only in lg view -->
         <div class="w-0 lg:w-[4%] column py-3 flex justify-center"></div>


         <!-- add review -->
          
         <div class="w-full lg:w-[40%] flex flex-col justify-start items-start p-3 mt-3 relative dark:text-[var(--color-secondary)] ">

                                 @if (!isLogin()) {
                                  <div class=" absolute z-10 top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%] flex flex-col items-center justify-center ">
                                      <h1 class=" text-xl font-[600] text-center ">Please login to be able to review the product</h1>
                                   </div>
                                 }
            <form [formGroup]="reviewForm" (ngSubmit)="addReview()" 
                  [class]="isLogin() ? 'w-full' : 'blur-sm w-full'" >
              <div class="flex flex-row items-center justify-start gap-x-2">
                   <h1 class="font-[600] text-xl">Your Rating :  </h1>

                   <p-rating 
                        (onRate)="onRating($event.value)"
                        formControlName="rating"
                        class="custom-rating !gap-2 big-rating" />
              </div>
           

              <div class="flex flex-col justify-start items-start gap-y-3 mt-5">
                 <label for="title" class="font-[600] text-xl"> Title</label>
                 <input 
                 formControlName="title"
                 placeholder="Enter Review Title"
                  type="text" 
                  id="title" 
                  class="border-2 border-gray-300 focus:border-[var(--color-primary)] py-2 px-3 w-full rounded-lg outline-none transition-colors duration-300"
                />
              </div>
              <div class="flex flex-col justify-start items-start gap-y-3 mt-5">
                 <label for="review" class="font-[600] text-xl">Review</label>
                 <textarea formControlName="comment"
                  type="text" 
                  placeholder="What do you think of this product ? "
                  id="review" 
                  rows="4"
                  class="border-2 border-gray-300 focus:border-[var(--color-primary)] py-2 px-3 w-full rounded-lg outline-none transition-colors duration-300"></textarea>
              </div>

                <button  [disabled]="!isLogin()" type="submit" 
                 class="h-[48px] mt-5 rounded-xl bg-[#A6252A] dark:bg-[var(--bg-button)] dark:hover:bg-[var(--bg-button-hover)] text-white dark:text-[var(--color-text-maroon)]
                  w-full flex items-center justify-center cursor-pointer gap-x-3">
                      <span class=" text-lg">
                          Add Review
                      </span>

                  </button>
            </form>
         </div>

       </div>
    
     </div> 


     <!-- Related Products -->
     <div #ref class="w-full py-5 px-4 lg:px-0">
      @if (isBrowser()) {
           @defer (on viewport(ref)) {
            <div>
              <app-related-products
              [relatedProducts]="relatedProducts()"
              
              ></app-related-products>
          </div>
          }
      }
      
     
     </div>

</section>

