<section>
  <app-auth-title text="Welcome back!"></app-auth-title>
  <app-line></app-line>
  <form action="" [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="w-full flex flex-col justify-center items-center">

    <div class="w-7/8">
      
      <app-reusable-input
        type="email"
        label="Email"
        placeholder="Enter Your Email"
        formControlName="email"
        customClass="!w-full"
      ></app-reusable-input>
    </div>
    <div class="w-7/8">
      
      <app-reusable-input
        type="password"
        label="Password"
        placeholder="Enter Your Password"
        formControlName="password"
        customClass="!w-full"
      ></app-reusable-input>
    </div>
    <div class="forgetPassword text-lg text-right mb-2">
      <a
        routerLink="/auth/forgotpassword"
        class="text-red-900 hover:text-red-800 transition-colors duration-200 cursor-pointer dark:!text-[#FFA3B9]"
      >
        Forgot your password?
      </a>
    </div>
    <app-custom-button
      class="!w-7/8"
      pageType="Login"
      (buttonClick)="loginSubmit()"
    ></app-custom-button>
    <app-line></app-line>
  </form>

  <div class="mt-5 flex justify-center dark:text-white">
    <p>Don’t have an account yet?</p>
    <a class="cursor-pointer CreateAccount dark:!text-[#FFA3B9]" routerLink="/auth/register">
      Create one now!
    </a>
  </div>
</section>
