@use '../../../../../styles/variables.scss';

.line {
  width: 406px;
  height: 1px;
  background-color: #8080808e;
  margin: 15px 0;
}

.CreateAccount {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}
