@import '../../../../../styles/variables.scss';


.styleLogo {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xxxl) ;
    color: var(--color-primary);
    font-family: var(--font-Secondary);
    vertical-align: middle;
}




.CreateAccount a{
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
}