<main>
  <app-auth-title [text]="'Welcome Back!'" ></app-auth-title>
    <div class="forgetPassword text-lg text-right mb-2">
      <a
        routerLink="/auth/forgotpassword"
        class="text-red-900 hover:text-red-800 transition-colors duration-200 cursor-pointer"
      >
        Forgot your password? 
      </a>
    </div>

  <app-custom-button pageType="Login"></app-custom-button>
  <div class="mt-5 flex justify-center">

    <p>Don’t have an account yet? </p>
    <a class="cursor-pointer CreateAccount" routerLink="/auth/register">
      Create one now! </a
      >
    </div>

</main>
