<Section class=" bg-[#FBEAEA] rounded-3xl w-full py-10  min-h-[145px] mt-8">
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-y-5 ">
            <app-benefits-ui 
            icon="pi-truck"
            title="Free Delivery"
            description="For orders above 120 EGP"
            ></app-benefits-ui>
            <app-benefits-ui 
            icon="pi-sync"
            title="Get Refund"
            description="Refunds within 30 days"
            ></app-benefits-ui>
            <app-benefits-ui 
            icon="pi-shield"
            title="Safe Payment"
            description="100% Secure Payment"
            ></app-benefits-ui>
            <app-benefits-ui 
            icon="pi-headphones"
            title="24/7 Support"
            description="Contact us at any time"
            ></app-benefits-ui>
    </div>

</Section>
