// ===============================
//  Typography System
// Project: Rose E-Commerce
// ===============================

$font-primary: 'Sarabun', sans-serif;

//  Font Weights
$font-weight-regular: 400; 
$font-weight-medium: 500; 
$font-weight-semibold: 600; 
$font-weight-bold: 700;

// Font Sizes 
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

